/* Open Sans Font 500,600,700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600;1,800&family=Quicksand:wght@500;700&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/* CSS */
*, 
*::before, 
*::after {box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    font-family: 'Quicksand',sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* __________ Navbar CSS __________ */
section.navbar{
    width: 100%;
    height: 15%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #313a43;
    border-radius: 1px;
    padding-block: 1rem;
    z-index: 99;
    position: fixed;
}
section.navbar .navbarLogo img {
    width: 300px;
}
section.navbar .navbarList ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
}
section.navbar .navbarList li {
    list-style-type: none;
}
section.navbar .navbarList li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #c6d3e4;
    border: 1px solid #c6d3e44a;
    margin: 5px;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    background-color: #24334315;
}
section.navbar .navbarList li:hover a {
    background-color: #c6d3e44a;
    color: white;
}
/* ______ H U M B E R G U R */
button.navbarMenu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}
button.navbarMenu > i{
    color: #c6d3e4;
    font-size: 2rem;
}
button.navbarMenu > i.iconClose {
    display: none;
}

/* __________ end Navbar __________ */
/* __________ ---------- __________ */
/* __________  Main CSS  __________ */
main{
    background-color: #c6d3e4;
    width: 100%;
    margin-inline: auto;
    padding: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
main .content{
    flex: 1;
    display: flex;
    align-items: center;
}
main .content .foto{
    flex: 1;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
}
main .content .foto img{
    position: relative;
    margin: auto;
    width: 280px;
    border-radius: 999px;  
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.133); 
}
main .content .contentText {
    font: 1 1;
}
main .content .contentText h1{
    font-size: 3rem;
    margin-block: 1rem;
}
main .content .contentText p{
    line-height: 1.7rem;
    font-size: 1.2rem;
}
main .content .contentText button{
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #313a43;
    cursor: pointer;
    transition: all .15s ease-in;
}
main .content .contentText button:hover {
    border: 3px solid #313a43;
    color: #313a43;
    background-color: transparent;
}

main aside {
    position: relative;
    bottom: -1.8rem;
}
main aside .github {
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.133);
    text-align: center;
    padding:15px; 
    margin:20px;
    border-radius: 15px;
    background-color: #313a433f;
    backdrop-filter: blur(3px);
}
main aside .github img{
    width: 100px;
    border-radius: 15px;
}
main aside .github h1 {
    font-size: .8rem;
    color: #313a43;
}
main aside .github a{
    text-decoration: none;
    color: #313a43;
}
main aside .github a:hover{
    color: black;
}
main aside .ig {
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.133);
    text-align: center;
    padding:15px; 
    margin:20px;
    border-radius: 15px;
    background-color: #313a433f;
    backdrop-filter: blur(3px);
}
main aside .ig img{
    width: 100px;
    border-radius: 15px;
}
main aside .ig h1 {
    font-size: .8rem;
    color: #313a43;
}
main aside .ig a{
    text-decoration: none;
    color: #313a43;
}
main aside .ig a:hover{
    color: black;
}

/* Tampilan Mobile Navbar dan Main Home */
@media screen and (max-width: 968px) {

    section.navbar {
        flex-direction: column;
        height: 100%;
        position: static;
    }
    section.navbar .navbarList {
        display: none;
    }
    section.navbar .tampil {
        display:flex;
    }
    .tampil > ul {
        background-color: #111417c2;
        backdrop-filter: blur(3px);
        width: 50%;
        height: auto;
        align-items: baseline;
        height: auto;
        position: fixed;
        top: -10px;
        right: -25px;
        display: flex;
        margin: auto;
        padding-top: 90px;
        padding-bottom: 100vh;
        border-radius: 15px;
        flex-direction: column;
        z-index: 1;
    }
    section.navbar .tampil li {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    section.navbar .tampil li a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        color: #c6d3e4;
        border: none;
        margin-right: 100px;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
        background: none;
    }
    section.navbar .navbarList li:hover a {
        background: none;
        color: white;
        filter: saturate(100%);
    }


    section.navbar .navbarList {
        width: 90%;
    }

    button.navbarMenu {
        display: inline;
        position: fixed;
        right: 6%;
        background-color: #313a434a;
        border-radius: 5px;
        border: 3px solid #313a430c;
        transition: all 0.9s ease-in-out;
        z-index: 2;
    }
    button.navbarMenu:hover {
        background-color: #313a43;
        border: 3px solid #313a43;
    }

    main {
        padding: 1rem 3rem;
        flex-direction: column;
        margin-top: 0.01rem;
    }
    main .content {
        flex-direction: column;
        gap: 2rem;
        margin-top: 30px;
        width: 80%;
        margin: auto;
    }
    main .content .contentText h1 {
        font-size: 2rem;
    }
     
    main .content .contentText p {
        font-size: .9rem;
    }
    main .content .foto {
        order: -1;
    }
    main .content .foto img{
        width: 190px;
        margin-top: 10px;
    }
    main .content .contentText button{
        font-size: 10px;
    }
    main aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 1rem;
        width: 90%;
    }
    main aside .github {
        width: 50%;
        margin: 0;
        margin-right: 15px;
        padding: 10px;
        margin-bottom: 30px;
        height: 240px;
    }
    main aside .ig {
        width: 50%;
        margin: 0;
        margin-right: 15px;
        padding: 10px;
        margin-bottom: 30px;
        height: 240px;
    }
    main aside .github h1 {
        font-size: 8px;
    }
    main aside .ig h1 {
        font-size: 8px;
    }
    main aside a {
        font-size: 7.4px;
    }
    main aside .github i {
        font-size: 30px;
    }
    main aside .ig i {
        font-size: 30px;
    }
    
  }

/* __________   end Main   __________ */
/* __________ ----------  __________ */
/* __________  Footer CSS  __________ */
#footer {
    background-color: #c6d3e4;
}
#footer > .container {
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
#footer > .container > h3{
    text-align: center;
    margin: auto;
    width: 90%;  
    justify-content: center;
    margin-top: 20px;
}
#footer > .container > p {
    margin-top: -2px;
}
#footer > .container > .grid {
    width: 100%;
    padding: 35px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#footer > .container > .grid > .item{
    position: relative;
    padding: 15px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
#footer > .container > .grid > .item > img {
    width: 50px;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
#footer > .container > .grid > .item > .text {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}
#footer > .container > .grid > .item > .text > p {
    font-size: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -15px;
}
.ftco-section {
    background-color: #c6d3e4;
}
.ftco-section .contactForm {
    margin-left: 3rem;
    margin-right: 3rem;
}
/* Tampilan Mobile di Halaman Contact */
@media screen and (max-width: 968px) {
    #footer > .container > .grid {
        width: 100%;
        padding: 35px;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #footer > .container > .grid > .item > .text > p {
        font-size: 10px;
    }
}
/* __________ __________ __________ */
